<h1>Edit tasks</h1>

<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit "Edit this Task" %>
<% end %>

<%= link_to 'Retour à la liste des tâches', tasks_path %>
